.person {
    height: 51rem;
  }
  
  .person-image {
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .radius {
    border-radius: 0.25rem;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  .person-details {
    position: absolute;
    bottom: 0.5rem;
    left: -0.25rem;
    width: calc(100% - 0.5rem);
    padding: 0.8rem;
    background: #ff7f5c;
  }
  
  .person-name {
    display: block;
    font-size: 1.77rem;
  }
  
  .weight-bold {
    font-weight: 900;
  }
  
  .font-sans {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  }
  